.dark-mode {
    background-color: black;
    color: white;

}

.dark-mode input {
    background-color: black;
    border: 1px solid white;
    color: white;
}

.dark-mode button {
    background-color: white;
}